<div class="page-header">
  <h1>
    Bookmarkeds
    <a href="/bookmarkeds/new" class="btn btn-lg btn-success">New Bookmarked</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Entree</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @bookmarkeds.each do |bookmarked| %>
      <tr>
        <td>
          <% if bookmarked.entree.present? %>
            <a href="/entrees/<%= bookmarked.entree.id %>">
              <%= bookmarked.entree.dish_id %>
            </a>
          <% end %>
        </td>
        <td>
          <% if bookmarked.user.present? %>
            <a href="/users/<%= bookmarked.user.id %>">
              <%= bookmarked.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/bookmarkeds/<%= bookmarked.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == bookmarked.user %>
            <a href="/bookmarkeds/<%= bookmarked.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_bookmarked/<%= bookmarked.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @bookmarkeds, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
