<div class="page-header">
  <h3>Entree #<%= @entree.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dish</dt>
      <dd><%= @entree.dish_id %></dd>

      <dt>Venue</dt>
      <dd><%= @entree.venue_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/entrees" class="btn btn-primary">
        Back
      </a>
      <a href="/entrees/<%= @entree.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_entree/<%= @entree.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Entree has many bookmarkeds -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarkeds
      </li>

      <% @entree.bookmarkeds.each do |bookmarked| %>
        <li class="list-group-item">
          <a href="/bookmarkeds/<%= bookmarked.id %>">
            <%= bookmarked.entree_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarkeds/<%= bookmarked.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarkeds/<%= bookmarked.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmarked/<%= bookmarked.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bookmarked" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for entree_id -->
      <input type="hidden" name="entree_id" value="<%= @entree.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Bookmarked
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Entree has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @entree.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
