<div class="page-header">
  <h3>Entree #<%= @entree.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dish</dt>
      <dd><%= @entree.dish_id %></dd>

      <dt>Venue</dt>
      <dd><%= @entree.venue_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/entrees" class="btn btn-primary">
        Back
      </a>
      <a href="/entrees/<%= @entree.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_entree/<%= @entree.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
